<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Critical Velos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

    <div class="template_body" style="">
        <div class="template_inner_body" style="">
            <a class="symbol" href="#" target="_top">
                <img align="baseline" alt="CRITICAL VELOS" border="0" hspace="0" src="/images/logo.png" style="width: 224px; height: 45px">
            </a>
        <div style=" float: right;; " aria-label="Quick links" role="navigation">
            <a style="padding-right: 10px;" class="wlnk" href="/dashboard/">LOGIN</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">ABOUT US</a>
            <a style="padding-right: 10px;" class="wlnk" href="/ques/">CAREERS</a>
            <a style="padding-right: 10px;" class="wlnk" href="/contact_us/">CONTACT US</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FEEDBACK</a>
             <a style="padding-right: 10px;" class="wlnk" href="/notrecentlyloggedinall_by_teacher/">UserInformation</a>
        </div>
        </div>
        <div id="id_letterheads_5_insert_shortcut_15" class="top_header" style="" aria-label="Content categories" role="navigation">
             <a href="/" class="ssb">
                <span class="ssb" onmouseover="sel('1',''); return true;" onmouseout="uns('1',''); return true;" style="font-family: Arial,Sans-Serif; color: #5c69c7; width:10%;padding: 5px;margin: 1px 1px 1px 5px;">
                <span class="sub" id="sbut_1" align="center" style="text-align: center">HOME</span></span>
            </a>
            <a href="/home_scan/" class="ssb">
                <span class="ssb" style="width:15%;padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_2">WHAT&nbsp;IS&nbsp;SCAN?</span></span>
            </a>

            <a href="#" class="ssb">
                <span class="ssb" style="width:15%;padding: 5px;margin: 1px;">
                <span class="sub">COURSE&nbsp;PRODUCTS</span></span>
            </a>


            <a href="#" class="ssb">
                <span class="ssb" style="width:15%;padding: 5px;margin: 1px;">
                <span class="sub">UPCOMING&nbsp;PROJECTS</span></span>
            </a>
         </div>

<div id="pic_table" style="width: 100%; height: 600px; border: 2px solid rgb(74, 58, 156); background: url(/images/back_all3.jpg);">

		
         <!--
         <div style="width: 900px; height: 450px; background-color: green;">
		                 <div id="id_text1_2" style="">
		 -->


                    <div class="login_outbox" style="" >

                        <div class="login_innerbox" style="">

                            <div style=" margin: 0px 10px;; ">

                                <form name="login" id="login" style="padding: 0em; margin: 0em" method="POST" action="/dashboard/"  target="_top">
                                    {% csrf_token %}
                                    <input type="hidden" name="_form_" value="login">
                                    <label for="username" id="label_username" style="color:white; display: none">User Name</label>
                                    <br>
                                    <input type="text" name="username" id="username" value="" size="15" maxlength="40" style="border: 1px inset #B9B9B9; width: 
178px; height: 23px; padding: 0px; margin: 0; font:vectipedebook,Arial,sans-serif;" placeholder=" User Name">

                                    <div style="PADDING-TOP: 5px">
                                        <label for="password" id="label_password" style="color:white; display: none">Password</label>
                                        <br>

                                        <input type="password" autocomplete="off" name="password" id="password" value="" size="15" maxlength="40" style="border: 1px
inset #B9B9B9; width: 
178px;height: 23px; padding: 0px; font:vectipedebook,Arial,sans-serif;margin: 0px" placeholder=" Password">
                                    </div>

                                    <div style="PADDING-TOP: 10px">
                                        <font color="white" size="1"><div style="width:65pxpx;"><button class="login_search" name="login" style="padding-bottom: 2px; padding-left: 5px; padding-right: 5px; padding-top: 2px" type="submit" value="true">LOG IN</button> </div><input type="hidden" name="opt_home_page" value="#">
<input type="hidden" name="opt_error_page" value="">
<input type="hidden" name="return_url" value=""></font>
                                    </div>
									
                                </form>




                                <div id="id_text1_4_insert_shortcut_2_insert_shortcut_13" style=" margin: 5px 0px;; ">
								<a class="white_link" href="#" style="font-style: italic" target="_blank">Forgot your login info?</a>
								<br>
								<a class="white_link" href="#" style="font-style: italic" target="_blank">SIGN UP NOW</a>
                                </div>

                            </div>



                        </div>



                    </div>



		 </div>
        <!--   Footers of the page   -->

        <div class="footer_div" style="">

        <div class="sm_font" style=" float:right; text-align:right;; ">
            <div style="margin-bottom: 10px">
                <a aria-label="Facebook" href="#" target="_blank" title="Facebook">
                    <img border="0" src="/images/facebook_icon.png">
                </a>&nbsp;&nbsp;
                <a aria-label="Twitter" href="#" target="_blank" title="Twitter">
                    <img border="0" src="/images/twitter_icon.png">
                </a>&nbsp;&nbsp;
            </div>
            <div style="margin-bottom: 5px">
                SCAN® is a registered trademark of Critical Velos. </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_30" style=" float: left;; ">
            <div style="margin-bottom: 10px">
                <img alt="CV" border="0" src="/images/cv_icon.png" width="50">
            </div>
        </div>





        <div id="id_letterheads_9_insert_shortcut_33" style=" clear: both;; "></div>



    </div>
    </div>

</body>