<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Critical Velos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
       <script src="/js/jquery-1.11.1.js"></script>
</head>


<script>
        $(document).ready(function(){


            $("#goto_signup_form").click(function(){

                $("#signup_box").slideDown("slow");
               document.getElementById("login_box").style.display='none';
                /* document.getElementById("signup_box").style.display='block';*/

                });

            $("#goto_loginbox").click(function(){

               /* document.getElementById("login_box").style.display='block';*/
                $("#login_box").slideDown("slow");
                document.getElementById("signup_box").style.display='none';

                });
        });

</script>


<body>

    <div class="template_body" style="">
        <div class="template_inner_body" style="">
            <a class="symbol" href="#" target="_top">
                <img align="baseline" alt="CRITICAL VELOS" border="0" hspace="0" src="/images/logo.png" style="width: 224px; height: 45px">
            </a>
        <div style=" float: right;; " aria-label="Quick links" role="navigation">
            <a style="padding-right: 10px;" class="wlnk" href="/login/">LOGIN</a>
            <a style="padding-right: 10px;" class="wlnk" href="/contact_us/">CONTACT US</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FEEDBACK</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FAQ</a>
            <a style="padding-right: 10px;" class="wlnk" href="/notrecentlyloggedinall_by_teacher/">UserInformation</a>
        </div>

 <div id="insert_shortcut" class="top_header" style="" aria-label="Content categories" role="navigation">
             <a href="/" class="ssb">
                <span class="ssb" onmouseover="sel('1');" onmouseout="uns('1');" id="but_1" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_1" align="center" style="text-align: center">HOME</span></span>
            </a>
            <a href="/home_scan/" class="ssb">
                <span class="ssb" onmouseover="sel('2');" onmouseout="uns('2');" id="but_2" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_2">WHAT&nbsp;IS&nbsp;SCAN?</span></span>
            </a>

            <a href="#" class="ssb">
                <span class="ssb" onmouseover="sel('3');" onmouseout="uns('3');" id="but_3" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_3">TAKE&nbsp;A&nbsp;FREE&nbsp;TRIAL</span></span>
            </a>


            <a href="#" class="ssb">
                <span class="ssb" onmouseover="sel('4');" onmouseout="uns('4');" id="but_4" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_4">MEET&nbsp;OUR&nbsp;EXPERTS</span></span>
            </a>
         </div>


                <script>
            function sel(a){
               // alert('sel'+a);
             document.getElementById('but_'+a).className='ssbs';
             document.getElementById('sbut_'+a).className='subs';


            }

            function uns(a){
                  //  alert('uns '+a);

             document.getElementById('but_'+a).className='ssb';
             document.getElementById('sbut_'+a).className='sub';
            }

        </script>



<div id="pic_table" style="width: 100%; height: 450px; background: url(/images/classroomhighquality.jpg);">
		
         <!--
         <div style="width: 900px; height: 450px; background-color: green;">
		                 <div id="id_text1_2" style="">
		 -->


                    <div id="login_box" class="login_outbox" style="display: block" >

                        <div class="login_innerbox" style="">

                            <div style=" margin: 0px 10px;; ">

                                <form name="login" id="login" style="padding: 0em; margin: 0em" method="POST" action="/dashboard/"  target="_top">
                                    {% csrf_token %}
                                    <input type="hidden" name="_form_" value="login">
                                    <label for="username" id="label_username" style="color:white; display: none">User Name</label>
                                    <br>
                                    <input type="text" name="username" id="username" value="" size="15" maxlength="40" style="border: 1px inset #B9B9B9; width: 
178px; height: 23px; padding: 0px; margin: 0; font:vectipedebook,Arial,sans-serif;" placeholder=" User Name">

                                    <div style="PADDING-TOP: 5px">
                                        <label for="password" id="label_password" style="color:white; display: none">Password</label>
                                        <br>

                                        <input type="password" autocomplete="off" name="password" id="password" value="" size="15" maxlength="40" style="border: 1px
inset #B9B9B9; width: 
178px;height: 23px; padding: 0px; font:vectipedebook,Arial,sans-serif;margin: 0px" placeholder=" Password">
                                    </div>

                                    <div style="PADDING-TOP: 10px">
                                        <font color="white" size="1"><div style="width:65px;"><button class="login_search" name="login" style="padding-bottom: 2px; padding-left: 5px; padding-right: 5px; padding-top: 2px" type="submit" value="true">LOG IN</button> </div><input type="hidden" name="opt_home_page" value="#">
<input type="hidden" name="opt_error_page" value="">
<input type="hidden" name="return_url" value=""></font>
                                    </div>
									
                                </form>




                                <div id="id_text1_4_insert_shortcut_2_insert_shortcut_13" style=" margin: 5px 0px;; ">
								<a class="white_link" href="#" style="font-style: italic" target="_blank">Forgot your login info?</a>
								<br>
								<a id="goto_signup_form" class="white_link"  style="font-style: italic" target="_blank">SIGN UP NOW</a>
                                </div>

                            </div>



                        </div>



                    </div>




                    <div id="signup_box" class="login_outbox" style="display: none"  >
<div class="login_innerbox" style="width: 615px; height: 400px;">

                                  <div style="padding: 10px">
                                        <div style="width: 100%;">
                                            <button style="width:100%;padding-bottom: 2px; padding-left: 220px; padding-right: 5px; padding-top: 2px" class="login_search" name="login" type="submit" value="true">SIGN UP FORM</button>
                                        </div>

                                    </div>


                            <div style=" margin: 0px 10px;; ">



                                <form name="login" id="login" style="padding: 0em; margin: 0em" method="POST" action="/#/" target="_top">
                                    <input name="" value="" type="hidden">
                                    <input name="_form_" value="login" type="hidden">



                                <div style="padding-top: 5px;">
                                        <table>
                                            <tbody>

                                         <tr>
                                            <td>

                                    <label for="username" id="username" style="color:white; display: none">username</label>
                                    <br>
                                    <input name="username" placeholder="Enter Unique Username " id="dob" value="" size="15" maxlength="40" style="border: 1px inset #B9B9B9; width:585px; height: 23px; padding: 0px; margin: 0; font:vectipedebook,Arial,sans-serif;" type="text">

                                            </td>

                                            </tr>
                                         </tbody></table></div>



                                    <div style="padding-top: 5px;">
                                        <table>
                                            <tbody>



                                            <tr>
                                            <td>

                                    <label for="password_1" id="password_1" style="color:white; display: none">Password</label>
                                    <br>
                                    <input style="border: 1px inset rgb(185, 185, 185); height: 23px; padding: 0px; margin: 0px; width: 280px;" name="password_1" placeholder="Enter your Password" id="password_1" value="" size="15" maxlength="40" type="text">

                                            </td>
                                            <td style="padding-left:15px;">
               <label for="password_2" id="password_2" style="color:white; display: none">Password</label>
                                    <br>
                                    <input style="border: 1px inset rgb(185, 185, 185); height: 23px; padding: 0px; margin: 0px; width: 280px;" name="password_2" placeholder="Re-Enter your Password" id="password_2" value="" size="15" maxlength="40" type="text">

                                            </td>



                                            </tr>
                                            </tbody></table></div>

                                    <div style="padding-top: 5px;">
                                        <table>
                                            <tbody>



                                            <tr>
                                            <td>

                                    <label for="firstname" id="label_firstname" style="color:white; display: none">User Name</label>
                                    <br>
                                    <input style="border: 1px inset rgb(185, 185, 185); height: 23px; padding: 0px; margin: 0px; width: 280px;" name="firstname" placeholder="First Name" id="firstname" value="" size="15" maxlength="40" type="text">

                                            </td>
                                            <td style="padding-left:15px;">
                                                 <label for="lastname" id="label_lastname" style="color:white; display: none">Password</label>
                                        <br>

                                        <input style="border: 1px inset #B9B9B9; width:280px;height: 23px; padding: 0px; font:vectipedebook,Arial,sans-serif;margin: 0px" name="lastname" placeholder="Last Name" id="lastname" autocomplete="off" value="" size="15" maxlength="40" type="text">

                                            </td>



                                            </tr>
                                            </tbody></table></div>
                                    <div style="padding-top: 5px;">
                                        <table>
                                            <tbody>

                                         <tr>
                                            <td>

                                    <label for="dob" id="dob" style="color:white; display: none">dob</label>
                                    <br>
                                    <input name="dob" placeholder="Date OF Birth" id="dob" value="" size="15" maxlength="40" style="border: 1px inset #B9B9B9; width:178px; height: 23px; padding: 0px; margin: 0; font:vectipedebook,Arial,sans-serif;" type="text">

                                            </td>
                                            <td style="padding-left:15px;">
                                                 <label for="sex" id="sex" style="color:white; display: none">sex</label>
                                        <br>

                                        <input name="sex" placeholder="Sex" id="sex" autocomplete="off" value="" size="15" maxlength="40" style="border: 1px inset #B9B9B9; width:178px;height: 23px; padding: 0px; font:vectipedebook,Arial,sans-serif;margin: 0px" type="text">

                                            </td>

                                                                                    <td style="padding-left:15px;">
                                                 <label for="schoolId" id="label_schoolid" style="color:white; display: none">schoolid</label>
                                        <br>

                                        <input name="schoolId" placeholder="School ID :" id="schoolId" autocomplete="off" value="" size="15" maxlength="40" style="border: 1px inset rgb(185, 185, 185); width: 178px; height: 23px; padding: 0px; margin-right: 0px;" type="text">

                                            </td>

                                            </tr>
                                         </tbody></table></div>


                                <div style="padding-top: 5px;">
                                        <table>
                                            <tbody>

                                         <tr>
                                            <td>

                                    <label for="address" id="address" style="color:white; display: none">address</label>
                                    <br>
                                    <input name="address" placeholder="Address Details" id="dob" value="" size="15" maxlength="40" style="border: 1px inset #B9B9B9; width:585px; height: 23px; padding: 0px; margin: 0; font:vectipedebook,Arial,sans-serif;" type="text">

                                            </td>

                                            </tr>
                                         </tbody></table></div>



                                    <div style="padding-top: 5px;">
                                        <table>
                                            <tbody>



                                            <tr>
                                            <td>

                                    <label for="emailid" id="label_ebailid" style="color:white; display: none">Email ID</label>
                                    <br>
                                    <input style="border: 1px inset rgb(185, 185, 185); height: 23px; padding: 0px; margin: 0px; width: 280px;" name="emailid" placeholder="Email ID " id="email_id" value="" size="15" maxlength="40" type="text">

                                            </td>
                                            <td style="padding-left:15px;">
                                                 <label for="Contact_Number" id="Contact_Number" style="color:white; display: none">Contact_Number</label>
                                        <br>

                                        <input style="border: 1px inset #B9B9B9; width:280px;height: 23px; padding: 0px; font:vectipedebook,Arial,sans-serif;margin: 0px" name="Contact_Number" placeholder="Contact Number" id="Contact_Number" autocomplete="off" value="" size="15" maxlength="40" type="text">

                                            </td>



                                            </tr>
                                            </tbody></table></div>






                                    <div style="padding-top: 10px">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td width="33%"></td>
                                                <td width="33%"></td>
                                                <td>
                                                        <div style="width:65px;">
                                            <button class="login_search" name="login" style="padding-bottom: 2px; padding-left: 5px; padding-right: 5px; padding-top: 2px" type="submit" value="true">SIGN UP</button>
                                        </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!--
                                            <input type="hidden" name="opt_home_page" value="#">
                                            <input type="hidden" name="opt_error_page" value="">
                                            <input type="hidden" name="return_url" value="">-->
                                    </div>

                                </form>




                                <div style=" margin: 5px 0px;; ">

								<a id="goto_loginbox" class="white_link"  style="font-style: italic" target="_blank">Back to the Login Box</a>
                                </div>

                            </div>



                        </div>



                    </div>



		 </div>

            <!--   Footers of the page   -->

        <div class="footer_div" style="">

        <div class="sm_font" style=" float:right; text-align:right;; ">
            <div style="margin-bottom: 10px">
                <a aria-label="Facebook" href="#" target="_blank" title="Facebook">
                    <img border="0" src="/images/facebook_icon.png">
                </a>&nbsp;&nbsp;
                <a aria-label="Twitter" href="#" target="_blank" title="Twitter">
                    <img border="0" src="/images/twitter_icon.png">
                </a>&nbsp;&nbsp;
            </div>
            <div style="margin-bottom: 5px">
                SCAN® is a registered trademark of Critical Velos. </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_30" style=" float: left;padding:5px 15px 5px 15px; ">
            <div style="margin-bottom: 10px">
                <img alt="CV" border="0" src="/images/cv_icon.png" width="50">
            </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_33" style=" clear: both;; "></div>
    </div>

    </div>
    </div>



</body>