<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Critical Velos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/jquery-1.11.1.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
</head>
<script>

    var title_selected=1;

    var scrolposition = 100;

    $(document).ready(function(){
        generic_slidedownanimation(1);


        // $("#header_tag").innerHTML="What is SCAN?";
     });


    function generic_slidedownanimation(a){

        for(i=1;i<7;i++){

            if(i==a){

            }
            else
            {
               //  alert('notequakl');
               $("#detail_click_about_option"+i).hide();

                 document.getElementById("about_option"+i).style.background="#8DABEB";
                document.getElementById("about_option"+i).style.fontWeight="300";
                title_selected=i;
                // document.getElementById("span_about_option"+a).innerHTML.replace(' =>','');


            }
        }

                 $("#detail_click_about_option"+a).slideDown("7000");

                title_selected=a;
                 document.getElementById("about_option"+a).style.background="#1C54B7";
                document.getElementById("about_option"+a).style.fontWeight="700";
                text= document.getElementById("span_about_option"+a).innerHTML;

              //  document.getElementById("span_about_option"+a).innerHTML="  => "+text;




    }



</script>
<body>

    <div class="template_body" style="">
        <div class="template_inner_body" style="">
            <a class="symbol" href="/" target="_top">
                <img align="baseline" alt="CRITICAL VELOS" border="0" hspace="0" src="/images/logo.png" style="border-radius: 10px; box-shadow: 3px 5px 1px rgba(227, 211, 211, 1);width: 224px; height: 45px">
            </a>
        <div style=" float: right;; " aria-label="Quick links" role="navigation">
            <a style="padding-right: 10px;" class="wlnk" href="/login/">LOGIN</a>
            <a style="padding-right: 10px;" class="wlnk" href="/contact_us/">CONTACT US</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FEEDBACK</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">TAKE A FREE TOUR</a>
        </div>

        <div id="insert_shortcut" class="top_header" style="" aria-label="Content categories" role="navigation">
             <a href="/" class="ssb">
                <span class="ssb" onmouseover="sel('1');" onmouseout="uns('1');" id="but_1" style="padding: 5px;margin:2px;">
                <span class="sub" id="sbut_1" align="center" style="text-align: center">HOME</span></span>
            </a>
            <a href="/home_scan/" class="ssb">
                <span class="ssb active" id="but_2">
                <span class="sub" id="sbut_2">WHAT&nbsp;IS&nbsp;SCAN</span></span>
            </a>

            <a href="/vedicMaths/" class="ssb">
                <span class="ssb" onmouseover="sel('3');" onmouseout="uns('3');" id="but_3" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_3">Vedic Maths</span></span>
            </a>


            <a href="/meetexperts/" class="ssb">
                <span class="ssb" onmouseover="sel('4');" onmouseout="uns('4');" id="but_4" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_4">MEET&nbsp;OUR&nbsp;EXPERTS</span></span>
            </a>

                      <a href="/infer" class="ssb">
                <span class="ssb" onmouseover="sel('5');" onmouseout="uns('5');" id="but_5" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_5">Inference Login</span></span>
            </a>
         </div>


                <script>
            function sel(a){
               // alert('sel'+a);
             document.getElementById('but_'+a).className='ssbs';
             document.getElementById('sbut_'+a).className='subs';


            }

            function uns(a){
                  //  alert('uns '+a);

             document.getElementById('but_'+a).className='ssb';
             document.getElementById('sbut_'+a).className='sub';
            }

        </script>



        <!-- abc -->
        <div style="width: 98%;height: 440px;overflow-y: auto;box-shadow: 10px 10px 5px #888;border: 2px solid rgba(249, 240, 240, 1);">
        <table style="width: 98%;height: 425px;margin: auto 5% auto auto;padding-left: 5%;padding-right: 5%;">
 	       <tbody>

              <tr height="30">

              </tr>


              <tr>
                    <td style="margin-top: 20px;" valign="top" width="30%;" align="left">


                           <div id="about_option1" class="about_us_menu menu_left " style="top: 20%; background: none repeat scroll 0% 0% rgb(28, 84, 183); font-weight: 700;" onclick="generic_slidedownanimation(1);">
                                <span id="span_about_option1" class="about_us_menu menu_left" style="">About Vedic Maths</span>
                            </div>

                            <div style="background: none repeat scroll 0% 0% rgb(141, 171, 235); font-weight: 300;" id="about_option2" class="about_us_menu menu_left " onclick="generic_slidedownanimation(2);">
                                <span id="span_about_option2" class="about_us_menu menu_left" style="">Origin of Vedic Maths</span>
                            </div>

                            <div style="background: none repeat scroll 0% 0% rgb(141, 171, 235); font-weight: 300;" id="about_option3" class="about_us_menu menu_left " onclick="generic_slidedownanimation(3);">
                                <span id="span_about_option3" class="about_us_menu menu_left" style="">Our AIM with the Course</span>
                            </div>

                            <div style="background: none repeat scroll 0% 0% rgb(141, 171, 235); font-weight: 300;" id="about_option4" class="about_us_menu menu_left " onclick="generic_slidedownanimation(4);">
                                <span id="span_about_option4" class="about_us_menu menu_left" style="">Syllabus</span>
                            </div>

                            <div style="background: none repeat scroll 0% 0% rgb(141, 171, 235); font-weight: 300;" id="about_option5" class="about_us_menu menu_left " onclick="generic_slidedownanimation(5);">
                                <span id="span_about_option5" class="about_us_menu menu_left" style="">How we are different</span>
                            </div>

                            <div style="background: none repeat scroll 0% 0% rgb(141, 171, 235); font-weight: 300;" id="about_option6" class="about_us_menu menu_left " onclick="generic_slidedownanimation(6);">
                                <span id="span_about_option6" class="about_us_menu menu_left" style="">Vedic Maths Importance</span>
                            </div>

                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="nofont"><img src="/images/icons/spacer.gif" alt="" height="80" width="1" border="0"></td>
                                </tr></tbody>
                        </table>
                    </td>


                   <td width="5%">
                       <img src="/images/icons/spacer.gif" alt="" height="1" width="10" border="0">
                   </td>

                   <td valign="top" width="65%">
                    <div class="detail_vedic_scan" id="detail_click_about_option1" style="">
                        <p>Vedic Maths (originally “Vedic Ganita”) a book written by Swami Bharthi Krishna Tirtha Ji is based  on a portion of Atharvaveda (One of the four Vedas).
 His holiness studied the Vedas and found the Ganita Sutras from a particular portion of the Atharvaveda.  These Ganita Sutras are also called Sulba Sutras (the easy mathematical formulae).</p>
                        <p><br><strong>Why they were not known earlier? </strong><br><br>It can be understood easily as “Vedas are in Sanskrit and the grammar, the literature and the figures of speech in Sanskrit give great facility of expressing one’s dispositions in a number of different subjects but with the same set of words. Hence to understand the different layers of meanings encoded in one text it requires great mental abilities and high level of concentration in addition to deep knowledge of Sanskrit”.</p>
                        <p>Vedic Mathematics was not known to the world but with an increase of interest in ancient Sanskrit text, the ancient Vedic Mathematics was rediscovered by Swami Bharati Krisna Tirthaji (the former Shankaracharya of Puri, India) in 1911. Swami Bharati Krisna Tirthaji was a great scholar of Sanskrit, Mathematics, History and Philosophy. His deep study and careful research had deciphered the great mathematical formulas known as Sutras that were completely ignored as no one could relate these to mathematics.</p>
                        <p>Bharati Krishna Tirthaji underwent meditation for long years in the forest of Sringeri. His holiness studied old lexicons including Visva, Amara, Arnava, Sabdakalpardruma etc. With these he got the key in that way in one instance and one thing after another helped him in the elucidation of the other sutras (formulae).</p>
                        <p>It was to His Holiness’s extreme amazement that the sutras dealt with mathematics in all its branches. He realized only sixteen sutras cover all branches of mathematics – arithmetic, algebra, geometry, trigonometry, physics, plain and spherical geometry, conics, calculus, both differential and integral, applied mathematics of various kinds, dynamics, hydrostatics, static, kinematics and all.</p>
                        <p>Vedic Mathematics (1965) that is a pioneer work of Bharati Krishna Tirthaji, has techniques of Vedic mathematics. It is considered as a first work towards Vedic Mathematics.
In late 1960s a copy of his book reached London and from there Vedic Mathematics was reborn. It was taken up as a new alternative system of mathematics. British mathematicians got interested in Vedic mathematics. Many lectures on this were delivered which later on were collected in the book – Introductory Lectures on Vedic Mathematics. After the visit of Andrew Nicholas to India between 1981 and 1987, interest in Vedic maths started to develop in India.</p>


                    </div>

                    <div class="detail_vedic_scan" id="detail_click_about_option2" style="display: none">
                        <p>Mathematics has been a subject that has probably most vast implications in education. Some mathematical concepts and calculations are also used in many other branches of education (like Physics, Chemistry, Accounts etc). Ranging from elementary classes (like Class I, II) to higher level competitions (Management, Engineering etc) maths plays an important part in success of the student. </p>
                        <p>Apart from education if we consider any business/work we cannot ignore the use of mathematical calculations. We can conclude that calculations are an integral part of human activities.  </p>
                        <p>With such a vast usage, along with knowledge the speed of calculations needs to be very fast in this rapidly changing world and through conventional methods achieving that speed is very difficult. In India most of the students studying the conventional mathematics can solve problems that are taught to them at school, but they are unable to solve the problems that are new and not taught to them. Reason for this is – lack of basic concept clarity.</p>
                        <p>Hence as a tribute to Swami Bharati Krishna Tirtha ji we have came up with an elementary mathematics course. With this course we aim to work on the basic concepts of calculation to improve calculation speed of people of all age groups along with school children and help them to understand mathematics rather than memorizing. </p>

                        </div>
                    <div class="detail_vedic_scan" id="detail_click_about_option3" style="display: none">
                         <p style="font: bold 14px Verdana;"><strong>With this course we aim to:</strong></p>
                         <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Improve Calculation Speed up to 1000%.
                         <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Make Mathematics Fun with simple methods.
                             <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Let the learner know other methods in Mathematics rather than conventional methods.
                             <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Build confidence in learner for learning mathematics.
                             <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Improve learners performance in mathematics.
                             <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Make learner competition ready.
                             <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Prepare learner for better future.
                             <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Move learner’s mentality from Studying to Learning.


                        </div>

                    <div class="detail_vedic_scan" id="detail_click_about_option4" style="display: none">
                   <p style="font: bold 28px Verdana;"><strong>Jain will provide or update</strong></p>
                       </div>

                    <div class="detail_vedic_scan" id="detail_click_about_option5" style="display: none">
                        <p>With so many Vedic Maths courses available Online there is a difficulty to find the best one and to differentiate between any two courses.</p>
                        <p>To differentiate between courses we must first analyze the aim of any two organizations as course must be prepared along those lines only. </p>
                        <p>We <strong>@Critical Velos</strong> lay emphasis on relationship of learner with the education and technology. We strongly believe that technology is just a tool and watching Online lectures cannot replace a teacher. </p>
                        <p>For this we have created an online classroom like environment for every student so that learning takes place instead of study. For this purpose we have made use of an artificially intelligent system named SCAN which will play the role of a teacher for the student and tell him what he has learned and what topics he is ready to learn.<br> <a href="/home_scan/"><strong>(Click here to know more about SCAN).</strong></a></p>
                        <p>Our system helps a student to be able to track his weak points during the course and work on them closely.</p>
                        <p>Also special emphasis have been given on reporting and for the first time learner will be able to see his learning graph, list of weak areas, Knowledge retention rate, his learning pattern and complete record of data for the course.</p>
                        <p><br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Virtual Classroom environment for every individual.
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Scientific Assessments using Artificially Intelligent system SCAN
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Individualized learning according to state of every learner
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Help learner to find weak areas during course and work on them closely
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>24X7 teacher support available Online
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Emphasis on Learning rather than memorizing
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Complete learning profile available for child during course with parameters like Learning Graph, Knowledge Retention rate.
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Efficient reporting with every minute detail on child learning
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> Explanatory Video Lectures in simple language
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Learning in a constructive and interesting manner
                        <br><br><strong>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Simple UI of portal</p>
                    </div>

                    <div class="detail_vedic_scan" id="detail_click_about_option6" style="display: none">
                      <p><strong>“India was the motherland of our race and Sanskrit the mother of Europe’s languages. India was the mother of our philosophy, of much of our mathematics, of the ideals embodied in Christianity…of self-government and democracy. In many ways, Mother India is the mother of us all.”    </strong>  – Will Durant, American Historian (1885-1981)</p>
                    <p>Vedic mathematics has given a new approach to mathematics. To do calculations quickly, the Indian Institute of Technology IIT students are said to use Vedic Mathematics. St James’ School, London and many other schools have started teaching Vedic maths to their students. In India also it is taught in many schools. Students of economics and MBA find it very useful. </p>
                    <p>Without a doubt there are many advantages of learning Vedic Mathematics. Students develop problem solving ability and it also leads to the development of creative intelligence.</p>
                    <p>Students of Vedic Mathematics can not only do simple calculations of subtraction, addition, multiplication but also very complex calculations such as algebra, geometry, calculus and trigonometry. Your mind is at work with this mathematics so mental sharpness is associated with it.</p>
                    <p>Vedic maths is very effective and at the same time it is easy to learn.</p>
                    <p>Only 16 Vedic sutras are used to solve the mathematical problem. Sutras are basically word formulae that describe normal way of solving mathematical problems.</p>
                    <p>Instead of learning by repetition, Vedic Mathematics involves logic and understanding the fundamental concepts.</p>
                        <p>One can do calculations much faster than done by using the conventional method that is taught in schools. It teaches the students to solve same problem in different ways.</p>
                        <p>Now, the question is if India has such a wonderful and useful way of calculating mathematical problems then why it is not taught in all the school, right from the beginning. Why we rely just on Western education pattern and learning through logical reasoning instead of mentally solving them. People must be encouraged to learn Vedic mathematics and it must be part of our curricula.</p>
                                        </div>



                    <div style="position: relative;right:10px;float: right;">
                        <button style="background-color: #4c76c7;color: #fffbff; font-weight: bolder;" onclick="jquerytextslide()">Readmore..</button>
                    </div>


                     </td>
                </tr>
 </tbody>
            </table>

</div>
        <!-- abc


<div id="pic_table" style="width: 100%; height: 400px;/* background: url(http://1.bp.blogspot.com/-4QXn3QzBRAs/UG7WEMqZBPI/AAAAAAAADig/KmUm9EvLILM/s640/inidna-flag-black-and-white-with-color-photo.jpg);*/">


		 </div>
-->

               <!--   Footers of the page   -->

         <div class="footer_div" style="">

        <div class="sm_font" style=" float:right; text-align:right;; ">
            <div style="margin-bottom: 10px">
                <a aria-label="Facebook" href="#" target="_blank" title="Facebook">
                    <img border="0" src="/images/facebook_icon.png">
                </a>&nbsp;&nbsp;
                <a aria-label="Twitter" href="#" target="_blank" title="Twitter">
                    <img border="0" src="/images/twitter_icon.png">
                </a>&nbsp;&nbsp;
            </div>
            <div style="margin-bottom: 5px">
                SCAN® is a registered trademark of Critical Velos. </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_30" style=" float: left;padding:5px 15px 5px 15px; ">
            <div style="margin-bottom: 10px">
              <!--
                <img alt="CV" border="0" src="/images/cv_icon.png" width="50">
                -->
              <h3 style="border-radius: 10px; box-shadow: 3px 5px 1px rgba(227, 211, 211, 1);">Critical Velos Technical Solutions</h3>
            </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_33" style=" clear: both; "></div>
    </div>
</div>

    </div>


<script>
    function jquerytextslide(){

//alert(scrolposition);
       $( "#detail_click_about_option"+ title_selected).scrollTop(scrolposition);
        $( "#detail_click_about_option"+ title_selected).animate({top:scrolposition});
                scrolposition=scrolposition+100;



{#        var scrolindex = $( "#detail_click_about_option"+ 1).scrollTop();#}
{#        $( "#detail_click_about_option"+ 1).scrollTop(scrolindex);#}
{#       // alert(conntenttoscroll);#}

    }

</script>

</body>