<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Critical Velos</title>

		<!-- main styles -->
			<link rel="stylesheet" href="/css/dashboard/style.css">
			<link rel="stylesheet" href="/css/dashboard/foundation.css" />
            <link rel="stylesheet" href="/css/web/styles.css">

		<!-- Google fonts -->
			<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' />
			<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Knowledge', 'Fraction'],
          ['Dont Know',    4]  ,
          ['Already Know',    6]

        ]);

        var options = {
          title: 'Your Maths Donut',
          pieHole: 0.6
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Assessment Number', 'Maths', 'Science'],
          ['2004',  33,      56],
          ['2005',  67,      67],
          ['2006',  53,       89],
          ['2007',  85,      96]
        ]);


        var options = {
          title: 'Your History With Critical Velos',
             animation:{
        duration: 1000,
        easing: 'out'
      }

        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>



	</head>	
	
	<body class="ptrn_e grdnt_c mhover_c">
<header class="p30">

					<div class="row sepH_b">

					<div class="six columns">
                    <h1><a class="logo" href="index.html">Critical Velos</a></h1>
                    </div>
					<div class="six columns">
						<div class="user_box cf">
							<div class="user_avatar">
								<img src="/images/user_male.png" alt="" />
							</div>
							<div class="user_info user_sep">
								<p class="sepH_a">
									<strong>Hello {{ logger }}</strong>
								</p>
								<span>
									<a href="#" class="sep">Settings</a>
									<a href="{{ logouturl }}">Log out</a>
								</span>
							</div>

						</div>
					</div>
				</div>


<div class="main">
    <div id="menu">
    <nav>
            <ul class="my_menu">

								<li><a href="/assessment/" >Assess Yourself</a></li>
								<li><a href="#" class ="active1">My Chart</a></li>
								<li><a href="/inference/" >Inference</a></li>
                                <li><a href="#" >Topics</a></li>
								<li><a href="#" >Calendar</a></li>
								<li><a href="#" >Results</a></li>

            </ul>
    </nav>
        <div class="clear"></div>
    </div>
</div>



</header>


<div class="clear"></div>
		<div class="container">
			
			<div class="row">

				<div class="twelve columns">
					<div class="box_c">
						<div class="box_c_heading cf">
							<div class="box_c_ico"><img src="/images/16-Graph.png" alt="" /></div>
							<p>DoughNut Chart</p>
						</div>
						<div class="box_c_content">
							<div class="inner_block" id="donutchart">



							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">

				<div class="twelve columns">
					<div class="box_c">
						<div class="box_c_heading cf">
							<div class="box_c_ico"><img src="/images/16-Graph.png" alt="" /></div>
							<p>History With Critical Velos</p>
						</div>
						<div class="box_c_content">
							<div class="inner_block" >

                                <div id="chart_div">

                                </div>


							</div>
						</div>
					</div>
				</div>
			</div>			
		
		<div class="clear"></div>
		<div class="row">

				<div class="twelve columns">
					<div class="box_c">
						<div class="box_c_heading cf">
							<div class="box_c_ico"><img src="/images/16-Graph.png" alt="" /></div>
							<p>Other Charts Can be added Here</p>
						</div>
						<div class="box_c_content">
							<div class="inner_block">

							<p>Kapil</p>

							</div>
						</div>
					</div>
				</div>
			</div>		
			
			<div class="row">
				<div class="twelve columns">
					<div class="box_c">
						<div class="box_c_heading cf box_actions">
							<div class="box_c_ico"><img src="/images/16-Books.png" alt="" /></div>
							<p>Content</p>
						</div>
						
						<div class="box_c_content" id="nestedAcc">
							<ul id="acc" class="accordion">
								<li>
									<h4>Critical Velos</h4>
									<div class="inner">
										<ul>
											<li>
												<h5>Heading a</h5>
												<div class="outer">
													<div class="inner shown">
														<p>
														1a. Critical Velos Technologies is a research company founded by passionate Indian Engineers.
Our company was founded on a coffee table discussing our school days. A full hearted discussion on our education system,
we were born!! Sleepless nights of a year and research for blending technology for creative learning in Indian education
was transformed into our first product SCAN [Student Capability Analysis] @ Re 1 per student per day.
														</p>
													</div>
												</div>
											</li>
											<li>
												<h5>Heading b</h5>
												<div class="outer">
													<div class="inner">
														<p>
														1b. Critical Velos Technologies is a research company founded by passionate Indian Engineers.
Our company was founded on a coffee table discussing our school days. A full hearted discussion on our education system,
we were born!! Sleepless nights of a year and research for blending technology for creative learning in Indian education
was transformed into our first product SCAN [Student Capability Analysis] @ Re 1 per student per day.
														</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<h4>Critical Velos</h4>
									<div class="inner">
										<ul>
											<li>
												<h5>Heading a</h5>
												<div class="outer">
													<div class="inner">
													<p>
														2a. Critical Velos Technologies is a research company founded by passionate Indian Engineers.
Our company was founded on a coffee table discussing our school days. A full hearted discussion on our education system,
we were born!! Sleepless nights of a year and research for blending technology for creative learning in Indian education
was transformed into our first product SCAN [Student Capability Analysis] @ Re 1 per student per day.
													</p>
													</div>
												</div>
											</li>
											<li>
												<h5>Heading b</h5>
												<div class="outer">
													<div class="inner">
														<p>
												2b. Critical Velos Technologies is a research company founded by passionate Indian Engineers.
Our company was founded on a coffee table discussing our school days. A full hearted discussion on our education system,
we were born!! Sleepless nights of a year and research for blending technology for creative learning in Indian education
was transformed into our first product SCAN [Student Capability Analysis] @ Re 1 per student per day.
														</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				

			</div>

            <div class="clear"></div>

			<div class="row">
				<div class="twelve columns">
					<div class="box_c">
						<div class="box_c_heading cf box_actions">
							<div class="box_c_ico"><img src="/images/16-Day-Calendar.png" alt="" /></div>
							<p>Calendar</p>
						</div>
						<div class="box_c_content">
							<div id='calendar'></div>
						</div>
					</div>
				</div>
			</div>
			
			

		</div>
		<footer class="container" id="footer">
			<div class="row">
				<div class="twelve columns">
                    Copyright &copy; CriticalVelos
				</div>
			</div>
		</footer>
		<div class="sw_width">
			<img class="sw_full" title="switch to full width" alt="" src="/images/blank.gif" />
			<img style="display:none" class="sw_fixed" title="switch to fixed width (980px)" alt="" src="/images/blank.gif" />
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="lib/jQueryUI/jquery-ui-1.8.18.custom.min.js"></script>
		<script src="js/s_scripts.js"></script>
		<script src="js/jquery.ui.extend.js"></script>
		<script src="lib/qtip2/jquery.qtip.min.js"></script>
		<script src="lib/jQplot/jquery.jqplot.min.js"></script>
		<script src="lib/jQplot/jqplot.plugins.js"></script>
		<script src="lib/fullcalendar/fullcalendar.min.js"></script>
		<script src="js/jquery.list.min.js"></script>
		<script src="js/pertho.js"></script>
		<script>
			$(document).ready(function() {
				//* common functions
				prth_common.init();
                
                //* nested accordion
                prth_nested_accordion.init();
				//* full calendar
				prth_calendar.init();
				//* filterable list
				prth_flist.init();
				//* smart gallery
				prth_gallery.init();
				//* home page charts resize
				prth_charts.charts_resize();
				//* home page charts
				prth_charts.ds_plot1();
				prth_charts.ds_plot2();
				if(!jQuery.browser.mobile) {
					// create image from visible chart
					prth_charts.makeImage();
				}
				//* horizontal scrollable (charts)
				prth_h_scrollable.init();
			});
		</script>
	</body>
</html>