<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">


    <meta charset="UTF-8">
    <title>Critical Velos</title>
    <link rel="shortcut icon" href="/images/image.ico">
    <link rel="stylesheet" type="text/css" href="/css/question/header.css">
    <link rel="stylesheet" type="text/css" href="/css/question/background.css">

</head>
<body background="/images/back9.jpeg" >
     <header>
         <div class="page">
           <div class="header1"><a href="/"><img src="/images/image.png" width="200" height="100" id="logo" alt="HTML and CSS Book" /></a></div>
           <div class = "header2 center" ><p class="heading"> Reshaping Indian Education!!!</p></div>
           <div class="header3">
			  <nav>
            	<a href="/assessment/" >Assess Yourself</a>
            	<a href="{{ loginurl }}" class="current">Sign In</a>
         <!--   	<a href="/buy/">BUY</a>-->
              </nav>
			</div>
          </div>
     </header>

</body>
</html>