<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/question/table.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/js/jspdf/libs/base64.js"></script>
	<script type="text/javascript" src="/js/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="/js/jspdf/libs/png.js"></script>
      <script type="text/javascript" src="/js/jspdf/libs/zlib.js"></script>
	<script type="text/javascript" src="/js/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="/js/jspdf/plugin/jspdf.plugin.addimage.js"></script>
    <script type="text/javascript" src="/js/jspdf/plugin/jspdf.plugin.png_support.js"></script>


    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Knowledge', 'Fraction'],
          ['Mastered',    100-{{ num_known }}]  ,
          ['Not Mastered',    {{ num_known }}]

        ]);

        var options = {
          title: 'Mastery Donut',
          pieHole: 0.4
        };

        donutchart = new google.visualization.PieChart(document.getElementById('donutchart'));
        donutchart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Assessment Number', 'Maths', 'Science'],
          ['2004',  33,      56],
          ['2005',  67,      67],
          ['2006',  53,       89],
          ['2007',  85,      96]
        ]);


        var options = {
          title: 'Your Growth line in {{ subject_name }}',
             animation:{
        duration: 1000,
        easing: 'out'
      }

        };

        growthchart = new google.visualization.LineChart(document.getElementById('chart_div'));
         google.visualization.events.addListener(growthchart, 'ready', function () {


      });


        growthchart.draw(data, options);
      }
    </script>

  <script type="text/javascript" >
    function generateReport() {


	var doc = new jsPDF();
	doc.setFontSize(20);

   // doc.text(35, 25, "I Love you janu");
   // alert(growthchart.getImageURI() );

    //var text = "";

        doc.setTextColor( 63, 0, 255);

    doc.text(85, 20, 'Report Card');
    	doc.setFontSize(6);
    doc.text(92, 25, 'Powered by Critical Velos');
    doc.setFontSize(10);
     doc.setTextColor( 175, 64, 53);
    doc.text(10,40,'Student Name:');
    doc.text(35,40,"{{ student_name }}");

    doc.text(120,40,'Course Name:');
    doc.text(145,40,"{{ subject_name }}");

   //  doc.text(20, 30, "Ready to Learn");
    {% for readytolearntopic in readytolearn %}



    // doc.text(20, 10, "{{ readytolearntopic }}");

    {% endfor %}
    var donutimage = donutchart.getImageURI();
  //  doc.addImage(donutimage, 'PNG', 15, 40, 100, 100);

    doc.output('datauri');
    }
  </script>



  </head>

  <body >
 <div id="report_heading">
 <img src="/images/cv_i.png" align="right"  style="margin-top: 0%;width:5%;height: 5%;"/>
 <p><h1 style=" text-align: center;color: blue;"><br>Report Card<br></h1>
    <h6 style=" margin-left: 41%;color: blue;">Powered by Critical Velos</h6></p>


 </div>
 <div style="float: right">  <button style="background-color:lightskyblue;" onclick="generateReport()">Generate Pdf</button></div>
     <br>
 <div id="student_details">
     <hr style="color: blue">

     <p>
     <h4 style="margin-left:10%;display: inline;color: red;"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Student Name: &nbsp{{ student_name }}
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     Course Name: &nbsp{{ subject_name }}</h4></p>


     <br>
     <hr style="color: blue">

 </div>
 <br>
  <div>
    <h3 style="color: blue"> &nbsp&nbsp&nbsp 1.) Course Analysis </h3><br>
    <div  id="donutchart" style="float:left;width: 40%; height:5%;"></div>


    <div id="readytolearn" style="margin-left:50%;" >

<table class="gridtable">

<tr>
	<h6>Readytolearn(Outer Fringe)</h6>
</tr>
 {% for readytolearntopic in readytolearn %}
<tr>

   <td> {{ readytolearntopic }}</td>
</tr>
{% endfor %}
</table>

      </div>

  </div>
 <br>
  <br>
  <br>
  <br>
 <br>
 <br>
 <hr color="blue">

<h3 style="color: blue"> &nbsp&nbsp&nbsp 2.) Course History </h3><br>
<div align="right" id="chart_div" style="float:left;width:100%; height: 40%;"></div>






  </body>
</html>