<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
<title>Critical Velos</title>
<meta charset="utf-8">
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Bhandari" >

<link rel="stylesheet" href="/css/web/styles.css">



</head>
<body>

<header class="p30">
<div class="main">
<h1><a class="logo" href="index.html">Critical Velos</a></h1>
<nav>
<ul class="my_menu">
<li><a class="active" href="index.html">Home</a></li>
<li><a href="#">about us</a></li>
<li><a href="/assessment/" >Assess Yourself</a></li>
<li><a href="{{ loginurl }}" class="current">Sign In</a></li>
<li><a href="/sign_up/" >SignUp</a></li>
<li><a href="/contact_us/">contact Us</a></li>
</ul>
</nav>
<div class="clear"></div>
</div>


<div id="slide">
<div class="slider">
<ul class="items">
<li><img src="/images/classroomhighquality.jpg" alt=""/>
<div class="banner">
<strong>ASSESSMENT</strong>
<span>Assess yourself or your Child or your Students</span>
<p>Assesment is very much needed in order to tell u where u stand bla bla content to be filled baadmein</p>
<a class="button1" href="#">read more</a></div>
</li>
<li><img src="/images/slide-3.jpg" alt=""/>
<div class="banner">
<strong>Android App - Attendance App</strong>
<span>Mark Attendance and Reporting</span>
<p>Now manage data and everything in cloud.. parents can check their students falanaa dhimakaana etc etc..</p>
<a class="button1" href="#">read more</a></div>
</li>
<li><img src="/images/classroomhighquality.jpg" alt=""/>
<div class="banner">
<strong>Any other Projects etc</strong>
<span>critical Velos Product </span>
<p>innovative product of future etc etc etc..</p>
<a class="button1" href="#">read more</a></div>
</li>
<li><img src="/images/slide-3.jpg" alt=""/>
<div class="banner">
<strong>Like this Add more and more products</strong>
<span>critical Velos Product </span>
<p>Coming soon.</p>
<a class="button1" href="#">read more</a></div>
</li>
</ul>
</div>
</div>

<div class="container_12">
<div class="wrapper">
<article class="grid_6">
<div class="page1-box1">
<span>Article 1 Education</span>
<p>Critical Velos Technologies is a research company founded by passionate Indian Engineers.
Our company was founded on a coffee table discussing our school days. A full hearted discussion on our education system,
we were born!! Sleepless nights of a year and research for blending technology for creative learning in Indian education
was transformed into our first product SCAN [Student Capability Analysis] @ Re 1 per student per day.</p>
<a class="button2 fright" href="#">read more</a>
<div class="clear"></div>
</div>
</article>
<article class="grid_3">
<div class="page1-box2">
<span>Our Assessment</span>
<p><a href="#">Our findings etc<br/> Line 1 <br/>Line 2 <br/>Line 3 <br/></a></p>
</div>
<div class="page1-box2 last2">
<span>Abcdefg</span>
<p><a href="#">>Content to be discussed.<br/> Line 1 <br/>Line 2 <br/></a> </p>
</div>
</article>
<article class="grid_3">
<div class="page1-box2">
<span>Xyzefgd</span>
<p><a href="#">Content to be Discussed.<br/> Line 1 <br/>Line 2 <br/>Line 3 <br/></a> </p>
</div>
<div class="page1-box2 last2">
<span>Critical Velos</span>
<p><a href="#">Content to be Discussed.<br/> Line 1 <br/>Line 2 <br/></a></p>
</div>
</article>
</div>
</div>
</header>
 
<section id="content" class="p31">
<div class="container_12">
<article class="grid_4">
<h3 class="p6">Heading to be discussed</h3>
<div class="page1-box3">
<figure class="page1-img1"><img src="images/index_img1.jpg" alt=""></figure>

<p>Line 1 <br/>Line 2 <br/>Line 3</p>
<a href="#">CriticalVelos@gmail.com</a>
</div>
</article>
<article class="grid_3">
<h3 class="p6">Present Situation</h3>
<div class="page1-box3">
<figure class="page1-img1"><img src="images/index_img2.jpg" alt=""></figure>
<p class="p8">Content to be Discussed....</p>
<a class="link1" href="#">Read More</a></div>
</article>
<article class="grid_3 push_1">
<h3 class="p6">Critical Velos</h3>
<div class="page1-box3">
<figure class="page1-img1"><img src="images/index_img3.jpg" alt=""></figure>
<p class="p8">Content to be discussed</p>
<a class="link1" href="#">Read More</a></div>
</article>
<div class="clear"></div>
</div>
</section>

<footer>
<div class="main">
<ul class="soc-links">
<li><a href="#">facebook</a></li>
<li><a href="#">twitter</a></li>
<li class="last3"><a href="#">google+</a></li>
</ul>
 
<div class="foot-page1">
Critical Velos &copy; 2014<br />
<div class="mwd"> Site Desgin: Critical Velos</div>
<div class="clear"></div>
</div>
<div class="clear"></div>

</div>
</footer>
<script src="/js/jquery-1.7.1.min.js"></script>
<script src="/js/script.js"></script>
</body>

</html>