
<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Critical Velos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/jquery-1.11.1.js"></script>

</head>

<script>
        $(document).ready(function(){
;
(function($) {
    $.fn.forms = function(o) {
        return this.each(function() {
            var th = $(this),
                _ = th.data('forms') || {
                    errorCl: 'error',
                    emptyCl: 'empty',
                    invalidCl: 'invalid',
                    notRequiredCl: 'notRequired',
                    successCl: 'success',
                    successShow: '4000',
                    mailHandlerURL: 'bat/MailHandler.php',
                    ownerEmail: 'support@template-help.com',
                    stripHTML: true,
                    smtpMailServer: 'localhost',
                    targets: 'input,textarea',
                    controls: 'a[data-type=reset],a[data-type=submit]',
                    validate: true,
                    rx: {
                        ".name": {
                            rx: /^[a-zA-Z'][a-zA-Z-' ]+[a-zA-Z']?$/,
                            target: 'input'
                        },
                        ".state": {
                            rx: /^[a-zA-Z'][a-zA-Z-' ]+[a-zA-Z']?$/,
                            target: 'input'
                        },
                        ".email": {
                            rx: /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i,
                            target: 'input'
                        },
                        ".phone": {
                            rx: /^\+?(\d[\d\-\+\(\) ]{5,}\d$)/,
                            target: 'input'
                        },
                        ".fax": {
                            rx: /^\+?(\d[\d\-\+\(\) ]{5,}\d$)/,
                            target: 'input'
                        },
                        ".message": {
                            rx: /.{20}/,
                            target: 'textarea'
                        }
                    },
                    preFu: function() {
                        _.labels.each(function() {
                            var label = $(this),
                                inp = $(_.targets, this),
                                defVal = inp.val(),
                                trueVal = (function() {
                                    var tmp = inp.is('input') ? (tmp = label.html().match(/value=['"](.+?)['"].+/), !!tmp && !!tmp[1] && tmp[1]) : inp.html()
                                    return defVal == '' ? defVal : tmp
                                })()
                            trueVal != defVal && inp.val(defVal = trueVal || defVal)
                            label.data({
                                defVal: defVal
                            })
                            inp.bind('focus', function() {
                                inp.val() == defVal && (inp.val(''), _.hideEmptyFu(label), label.removeClass(_.invalidCl))
                            }).bind('blur', function() {
                                _.validateFu(label)
                                if (_.isEmpty(label))
                                    inp.val(defVal), _.hideErrorFu(label.removeClass(_.invalidCl))
                            }).bind('keyup', function() {
                                label.hasClass(_.invalidCl) && _.validateFu(label)
                            })
                            label.find('.' + _.errorCl + ',.' + _.emptyCl).css({
                                display: 'block'
                            }).hide()
                        })
                        _.success = $('.' + _.successCl, _.form).hide()
                    },
                    isRequired: function(el) {
                        return !el.hasClass(_.notRequiredCl)
                    },
                    isValid: function(el) {
                        var ret = true
                        $.each(_.rx, function(k, d) {
                            if (el.is(k))
                                ret = d.rx.test(el.find(d.target).val())
                        })
                        return ret
                    },
                    isEmpty: function(el) {
                        var tmp
                        return (tmp = el.find(_.targets).val()) == '' || tmp == el.data('defVal')
                    },
                    validateFu: function(el) {
                        el.each(function() {
                            var th = $(this),
                                req = _.isRequired(th),
                                empty = _.isEmpty(th),
                                valid = _.isValid(th)
                            if (empty && req)
                                _.showEmptyFu(th.addClass(_.invalidCl))
                            else
                                _.hideEmptyFu(th.removeClass(_.invalidCl))
                            if (!empty)
                                if (valid)
                                    _.hideErrorFu(th.removeClass(_.invalidCl))
                                else
                                    _.showErrorFu(th.addClass(_.invalidCl))
                        })
                    },
                    getValFromLabel: function(label) {
                        var val = $('input,textarea', label).val(),
                            defVal = label.data('defVal')
                        return label.length ? val == defVal ? 'nope' : val : 'nope'
                    },
                    submitFu: function() {
                        _.validateFu(_.labels)
                        if (!_.form.has('.' + _.invalidCl).length)
                            $.ajax({
                                type: "POST",
                                url: _.mailHandlerURL,
                                data: {
                                    name: _.getValFromLabel($('.name', _.form)),
                                    email: _.getValFromLabel($('.email', _.form)),
                                    phone: _.getValFromLabel($('.phone', _.form)),
                                    fax: _.getValFromLabel($('.fax', _.form)),
                                    state: _.getValFromLabel($('.state', _.form)),
                                    message: _.getValFromLabel($('.message', _.form)),
                                    owner_email: _.ownerEmail,
                                    stripHTML: _.stripHTML
                                },
                                success: function() {
                                    _.showFu()
                                }
                            })
                    },
                    showFu: function() {
                        _.success.slideDown(function() {
                            setTimeout(function() {
                                _.success.slideUp()
                                _.form.trigger('reset')
                            }, _.successShow)
                        })
                    },
                    controlsFu: function() {
                        $(_.controls, _.form).each(function() {
                            var th = $(this)
                            th.bind('click', function() {
                                _.form.trigger(th.data('type'))
                                return false
                            })
                        })
                    },
                    showErrorFu: function(label) {
                        label.find('.' + _.errorCl).slideDown()
                    },
                    hideErrorFu: function(label) {
                        label.find('.' + _.errorCl).slideUp()
                    },
                    showEmptyFu: function(label) {
                        label.find('.' + _.emptyCl).slideDown()
                        _.hideErrorFu(label)
                    },
                    hideEmptyFu: function(label) {
                        label.find('.' + _.emptyCl).slideUp()
                    },
                    init: function() {
                        _.form = _.me
                        _.labels = $('label', _.form)
                        _.preFu()
                        _.controlsFu()
                        _.form.bind('submit', function() {
                            if (_.validate)
                                _.submitFu()
                            else
                                _.form[0].submit()
                            return false
                        }).bind('reset', function() {
                            _.labels.removeClass(_.invalidCl)
                            _.labels.each(function() {
                                var th = $(this)
                                _.hideErrorFu(th)
                                _.hideEmptyFu(th)
                            })
                        })
                        _.form.trigger('reset')
                    }
                }
            _.me || _.init(_.me = th.data({
                forms: _
            }))
            typeof o == 'object' && $.extend(_, o)
        })
    }
})(jQuery)
$(window).load(function() {
    $('#pro_contact-form').forms({
        ownerEmail: '#'
    })
    $('#form1').forms({
        ownerEmail: '#'
    })
})

     });

</script>


<body>

    <div class="template_body" style="">
        <div class="template_inner_body" style="">
            <a class="symbol" href="#" target="_top">
                <img align="baseline" alt="CRITICAL VELOS" border="0" hspace="0" src="/images/logo.png" style="width: 224px; height: 45px">
            </a>
        <div style=" float: right;; " aria-label="Quick links" role="navigation">
            <a style="padding-right: 10px;" class="wlnk" href="/login/">LOGIN</a>
            <a style="padding-right: 10px;" class="wlnk" href="/contact_us/">CONTACT US</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FEEDBACK</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FAQ</a>
        </div>

        <div id="insert_shortcut" class="top_header" style="" aria-label="Content categories" role="navigation">
             <a href="/" class="ssb">
                <span class="ssb" onmouseover="sel('1');" onmouseout="uns('1');" id="but_1" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_1" align="center" style="text-align: center">HOME</span></span>
            </a>
            <a href="/home_scan/" class="ssb">
                <span class="ssb" onmouseover="sel('2');" onmouseout="uns('2');" id="but_2" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_2">WHAT&nbsp;IS&nbsp;SCAN?</span></span>
            </a>

            <a href="#" class="ssb">
                <span class="ssb" onmouseover="sel('3');" onmouseout="uns('3');" id="but_3" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_3">TAKE&nbsp;A&nbsp;FREE&nbsp;TRIAL</span></span>
            </a>


            <a href="#" class="ssb">
                <span class="ssb" onmouseover="sel('4');" onmouseout="uns('4');" id="but_4" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_4">MEET&nbsp;OUR&nbsp;EXPERTS</span></span>
            </a>
         </div>

        <script>
            function sel(a){
               // alert('sel'+a);
             document.getElementById('but_'+a).className='ssbs';
             document.getElementById('sbut_'+a).className='subs';


            }

            function uns(a){
                  //  alert('uns '+a);

             document.getElementById('but_'+a).className='ssb';
             document.getElementById('sbut_'+a).className='sub';
            }

        </script>


<div style="width: 100%; height: 450px; background: #f1f1ff; border-radius: 5px;border: 2px ridge #E21A23;" >
<h4 style="margin: 5px; padding: 5px 5px 5px 20px; color: #32484C" align="left">
Contact Form</h4>
         <div style="margin: 5px; padding: 5px 5px 5px 20px;">
                <form id="form1" action="#" method="get">

                <div class="success">Contact form submitted!<strong> We will be in touch soon.</strong></div>

                    <div class="register-switch" id="account_types">
                      <input type="radio" name="account_type" value="School" id="type_school" class="register-switch-input" checked>
                      <label for="type_school" class="register-switch-label">School</label>
                      <input type="radio" name="account_type" value="Teacher" id="type_teacher" class="register-switch-input">
                      <label for="type_teacher" class="register-switch-label">Teacher</label>
                      <input type="radio" name="account_type" value="Parent" id="type_parent" class="register-switch-input">
                      <label for="type_parent" class="register-switch-label">Parent</label>
                      <input type="radio" name="account_type" value="Student" id="type_student" class="register-switch-input">
                      <label for="type_student" class="register-switch-label">Student</label>
                      <input type="radio" name="account_type" value="Expert" id="type_expert" class="register-switch-input">
                      <label for="type_expert" class="register-switch-label">Expert</label>
                    </div>

                <fieldset>
                <label class="name">
                <input type="text" value="Name:">
                <span class="error">*This is not a valid name.</span>
                    <span class="empty">*This field is required.</span>
                </label>

                    <label class="email">
                <input type="text" value="E-mail:">
                <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span></label>
                <label class="phone">
                <input type="tel" value="Phone:">
                <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span></label>
                <label class="message">
                <textarea>Message</textarea>
                <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label>
                <div class="clear"></div>
                <div class="link-form">
                <a class="link1 p27" href="#" data-type="reset">Clear</a>
                <a class="link1" href="#" data-type="submit">Send</a></div>
                </fieldset>
                </form>


         </div>
         </div>



            <!--   Footers of the page   -->

        <div class="footer_div" style="">

        <div class="sm_font" style=" float:right; text-align:right;; ">
            <div style="margin-bottom: 10px">
                <a aria-label="Facebook" href="#" target="_blank" title="Facebook">
                    <img border="0" src="/images/facebook_icon.png">
                </a>&nbsp;&nbsp;
                <a aria-label="Twitter" href="#" target="_blank" title="Twitter">
                    <img border="0" src="/images/twitter_icon.png">
                </a>&nbsp;&nbsp;
            </div>
            <div style="margin-bottom: 5px">
                SCAN® is a registered trademark of Critical Velos. </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_30" style=" float: left;padding:5px 15px 5px 15px; ">
            <div style="margin-bottom: 10px">
              <!--
                <img alt="CV" border="0" src="/images/cv_icon.png" width="50">
                -->
              <h3 style="border-radius: 10px; box-shadow: 3px 5px 1px rgba(227, 211, 211, 1);">Critical Velos Technical Solutions</h3>
            </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_33" style=" clear: both; "></div>
    </div>

  </div>
</div>



</body>

</html>

