
<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Critical Velos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/liteaccordion.jquery.min.js"></script>
</head>

<script>
        $(document).ready(function(){

     });

</script>


<body>

    <div class="template_body" style="">
        <div class="template_inner_body" style="">
            <a class="symbol" href="#" target="_top">
                <img align="baseline" alt="CRITICAL VELOS" border="0" hspace="0" src="/images/logo.png" style="width: 224px; height: 45px">
            </a>
        <div style=" float: right;; " aria-label="Quick links" role="navigation">
            <a style="padding-right: 10px;" class="wlnk" href="/login/">LOGIN</a>
            <a style="padding-right: 10px;" class="wlnk" href="/contact_us/">CONTACT US</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FEEDBACK</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FAQ</a>
        </div>

        <div id="insert_shortcut" class="top_header" style="" aria-label="Content categories" role="navigation">
             <a href="/" class="ssb">
                <span class="ssb" onmouseover="sel('1');" onmouseout="uns('1');" id="but_1" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_1" align="center" style="text-align: center">HOME</span></span>
            </a>
            <a href="/home_scan/" class="ssb">
                <span class="ssb" onmouseover="sel('2');" onmouseout="uns('2');" id="but_2" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_2">WHAT&nbsp;IS&nbsp;SCAN?</span></span>
            </a>

            <a href="#" class="ssb">
                <span class="ssb" onmouseover="sel('3');" onmouseout="uns('3');" id="but_3" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_3">TAKE&nbsp;A&nbsp;FREE&nbsp;TRIAL</span></span>
            </a>


            <a href="#" class="ssb">
                <span class="ssb" onmouseover="sel('4');" onmouseout="uns('4');" id="but_4" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_4">MEET&nbsp;OUR&nbsp;EXPERTS</span></span>
            </a>
         </div>

        <script>
            function sel(a){
               // alert('sel'+a);
             document.getElementById('but_'+a).className='ssbs';
             document.getElementById('sbut_'+a).className='subs';


            }

            function uns(a){
                  //  alert('uns '+a);

             document.getElementById('but_'+a).className='ssb';
             document.getElementById('sbut_'+a).className='sub';
            }

        </script>


<div style="width: 100%; height: 450px; background: #FFFFFF; border-radius: 5px;border: 2px ridge #E21A23;" >
<h4 style="margin: 5px; padding: 5px 5px 5px 20px; color: #32484C" align="left">
Contact Form
</h4>
         <div style="margin: 5px; padding: 5px 5px 5px 20px;">
                <form id="form1">
                <div class="success">Contact form submitted!<strong> We will be in touch soon.</strong></div>
                <fieldset>
                <label class="name">
                <input type="text" value="Name:">
                <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span></label>
                <label class="email">
                <input type="text" value="E-mail:">
                <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span></label>
                <label class="phone">
                <input type="tel" value="Phone:">
                <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span></label>
                <label class="message">
                <textarea>Message</textarea>
                <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label>
                <div class="clear"></div>
                <div class="link-form">
                <a class="link1 p27" href="#" data-type="reset">Clear</a>
                <a class="link1" href="#" data-type="submit">Send</a></div>
                </fieldset>
                </form>


         </div>
         </div>



            <!--   Footers of the page   -->

        <div class="footer_div" style="">

        <div class="sm_font" style=" float:right; text-align:right;; ">
            <div style="margin-bottom: 10px">
                <a aria-label="Facebook" href="#" target="_blank" title="Facebook">
                    <img border="0" src="/images/facebook_icon.png">
                </a>&nbsp;&nbsp;
                <a aria-label="Twitter" href="#" target="_blank" title="Twitter">
                    <img border="0" src="/images/twitter_icon.png">
                </a>&nbsp;&nbsp;
            </div>
            <div style="margin-bottom: 5px">
                SCAN® is a registered trademark of Critical Velos. </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_30" style=" float: left;">
            <div style="margin-bottom: 10px">
                <img alt="CV" border="0" src="/images/cv_icon.png" width="50">
            </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_33x" style=" clear: both;; "></div>
    </div>

  </div>
</div>



</body>

</html>

<!--
<!DOCTYPE html>
<html lang="en">

<head>
<title>Critical Velos</title>
<meta charset="utf-8">
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Bhandari" >

<link rel="stylesheet" href="/css/web/styles.css">



</head>
<body>
 
<header>
<div class="main">
<h1><a class="logo" href="index.html">Critical Velos</a></h1>
<nav>
<ul class="my_menu">
<li><a href="index.html">Home</a></li>
<li><a href="#">about us</a></li>
<li><a href="/assesstopicname/" >Assess Yourself</a></li>
<li><a href="{{ loginurl }}" class="current">Sign In</a></li>
<li><a href="/sign_up/" >SignUp</a></li>
<li><a  class="active" href="/contact_us/">contact Us</a></li>
</ul>
</nav>
<div class="clear"></div>
</div>
</header>
 
<section id="content">
<div class="container_12">
<div class="wrapper">

<article class="grid_7 push_1">
<h3 class="p12">Contact Form</h3>
<form id="form1">
<div class="success">Contact form submitted!<strong> We will be in touch soon.</strong></div>
<fieldset>
<label class="name">
<input type="text" value="Name:">
<span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span></label>
<label class="email">
<input type="text" value="E-mail:">
<span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span></label>
<label class="phone">
<input type="tel" value="Phone:">
<span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span></label>
<label class="message">
<textarea>Message</textarea>
<span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label>
<div class="clear"></div>
<div class="link-form">
<a class="link1 p27" href="#" data-type="reset">Clear</a>
<a class="link1" href="#" data-type="submit">Send</a></div>
</fieldset>
</form>
</article>
</div>
</div>
</section>
 
<footer>
<div class="main">
<ul class="soc-links">
<li><a href="#">facebook</a></li>
<li><a href="#">twitter</a></li>
<li class="last3"><a href="#">google+</a></li>
</ul>

<div class="foot-page1">
Critical Velos &copy; 2014<br />
<div class="mwd"> Site Desgin: Critical Velos</div>
<div class="clear"></div>
</div>
<div class="clear"></div>

</div>
</footer>
<script src="/js/jquery-1.7.1.min.js"></script>
<script src="/js/script.js"></script>
</body>

</html>


-->