<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Critical Velos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/liteaccordion.jquery.min.js"></script>


</head>


<body >

    <div class="template_body" style="">
        <div class="template_inner_body" style="">
            <a class="symbol" href="#" target="_top">
                <img align="baseline" alt="CRITICAL VELOS" border="0" hspace="0" src="/images/logo.png" style="width: 224px; height: 45px">
            </a>
        <div style=" float: right;; " aria-label="Quick links" role="navigation">
            <a style="padding-right: 10px;" class="wlnk" href="/login/">LOGIN</a>
            <a style="padding-right: 10px;" class="wlnk" href="/contact_us/">CONTACT US</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FEEDBACK</a>
            <a style="padding-right: 10px;" class="wlnk" href="#">FAQ</a>
        </div>

        <div id="insert_shortcut" class="top_header" style="" aria-label="Content categories" role="navigation">
             <a href="/" class="ssb">
                <span class="ssb" onmouseover="sel('1');" onmouseout="uns('1');" id="but_1" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_1" align="center" style="text-align: center">HOME</span></span>
            </a>
            <a href="/home_scan/" class="ssb">
                <span class="ssb" onmouseover="sel('2');" onmouseout="uns('2');" id="but_2" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_2">WHAT&nbsp;IS&nbsp;SCAN?</span></span>
            </a>

            <a href="#" class="ssb">
                <span class="ssb" onmouseover="sel('3');" onmouseout="uns('3');" id="but_3" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_3">TAKE&nbsp;A&nbsp;FREE&nbsp;TRIAL</span></span>
            </a>


            <a href="#" class="ssb">
                <span class="ssb" onmouseover="sel('4');" onmouseout="uns('4');" id="but_4" style="padding: 5px;margin: 1px;">
                <span class="sub" id="sbut_4">MEET&nbsp;OUR&nbsp;EXPERTS</span></span>
            </a>
         </div>




<div style="width: 100%; height: 450px; background: #FFFFFF; border-radius: 5px;border: 2px ridge #E21A23;" >
<h4 style="margin: 5px; padding: 5px 5px 5px 20px; color: #32484C" align="left">
 Question :
</h4>



<div class="page1q-box1">
    <!--
<span>Maths Subject</span>  -->

<span><b><br><br>{{ nextquestion }}  ?</b></span></span><br><br>
    <p> <b>Click on Yes or No and then Submit!!</b><br></p><br>
            <form name="input" action="/inference" method="post">

                 {% csrf_token %}
                   <b>Agree?:<br> </b>
                <input type="radio" name="answer" value="yes">Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="answer" value="no">No <br>
                           <input type="submit" value="Submit">
             </form>
<div class="clear"></div>
</div>

  </div>
            <!--   Footers of the page   -->

        <div class="footer_div" style="">

        <div class="sm_font" style=" float:right; text-align:right;; ">
            <div style="margin-bottom: 10px">
                <a aria-label="Facebook" href="#" target="_blank" title="Facebook">
                    <img border="0" src="/images/facebook_icon.png">
                </a>&nbsp;&nbsp;
                <a aria-label="Twitter" href="#" target="_blank" title="Twitter">
                    <img border="0" src="/images/twitter_icon.png">
                </a>&nbsp;&nbsp;
            </div>
            <div style="margin-bottom: 5px">
                SCAN® is a registered trademark of Critical Velos. </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_30" style=" float: left;">
            <div style="margin-bottom: 10px">
                <img alt="CV" border="0" src="/images/cv_icon.png" width="50">
            </div>
        </div>

        <div id="id_letterheads_9_insert_shortcut_33x" style=" clear: both;; "></div>
    </div>

  </div>
</div>



</body>

</html>